html {
  height: 100%;
  width: 100%;
}
.button {
  border-radius: 12px;
  /* Add this property to make the button round */
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.dark-mode-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.light-mode-button {
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.rainbow-text {
    display: inline;
    background-image: linear-gradient(to left, grey, dark-grey, light-grey);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 10em;
    text-align: center;
    margin-bottom: 50px;
    -webkit-text-stroke: 5px rgba(0, 0, 0, 0.5);
}
.rainbow-text.title-selectv{
    font-size: 9em;
    margin-top: 70px;
}
